@import "../styles/abstracts/variable";
@import "../styles/navbar.scss";
@import "../styles/heroSection.scss";
@import "../styles/horizontalCardsSlider.scss";
@import "../styles/footer.scss";
@import "../styles/card.scss";


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
body{
    font-family: "Roboto","HelveticaNeue-Light",sans-serif;
}
.fa{
    &:hover{
        background-color: transparent;
    }
}